In [1]:
import pandas as pd

In [2]:
df_lab = pd.read_csv('../data/LabCount.csv')

In [3]:
def edit_str(str):
    return int(str.split("-")[0])+1

In [4]:
df_lab.head()

   MemberID Year         DSFS LabCount
0  69258001   Y3  2- 3 months        1
1  10143167   Y1   0- 1 month        2
2   1054357   Y1   0- 1 month        6
3  56583841   Y3  6- 7 months        4
4  70967047   Y2   0- 1 month        2

In [11]:
def count_nulls(df):
    null_counter = df.isnull().sum(axis=0)
    null_counter = null_counter[null_counter > 0]
    null_percent = df.isnull().sum(axis=0) / df.shape[0] * 100
    null_percent = null_percent[null_percent > 0]
    null_df = pd.concat([null_counter,null_percent],axis=1)
    null_df.columns = ['count','percent']
    display(null_df)
    
count_nulls(df_lab)

Empty DataFrame
Columns: [count, percent]
Index: []

In [5]:
df_lab["DSFS"] = df_lab["DSFS"].apply(edit_str)

Thay thế các giá trị của cột DSFS từ string thành interger, lấy số lớn hơn giữa 2 số

In [6]:
def edit_count(str):
    str = str.replace("+","")
    return int(str)

In [7]:
df_lab["LabCount"] = df_lab["LabCount"].apply(edit_count)

In [9]:
df_lab.head()

   MemberID Year  DSFS  LabCount
0  69258001   Y3     3         1
1  10143167   Y1     1         2
2   1054357   Y1     1         6
3  56583841   Y3     7         4
4  70967047   Y2     1         2

Chuyển tất cả giá trị trong cột LabCount và DrugCount thành interger

In [10]:
df_lab.dtypes

MemberID     int64
Year        object
DSFS         int64
LabCount     int64
dtype: object

In [12]:
df_group_lab = df_lab.groupby(['Year','MemberID'])

df_new_lab = pd.DataFrame()
df_new_lab['MemberID'] = df_group_lab['MemberID'].head()
df_new_lab['Year'] = df_group_lab['Year'].head()

df_new_lab['LabCount_total'] = df_group_lab['LabCount'].transform('sum')
df_new_lab['LabCount_months'] = df_group_lab['MemberID'].transform('count')

In [13]:
df_new_lab.head()

   MemberID Year  LabCount_total  LabCount_months
0  69258001   Y3              10                4
1  10143167   Y1               8                2
2   1054357   Y1              18                4
3  56583841   Y3              11                2
4  70967047   Y2              29               10

In [14]:
df_new_lab.to_csv("new-data/new_labs.csv", index=False)