In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [12]:
df_claims = pd.read_csv('data/Claims.csv')
df_members = pd.read_csv('data/Members.csv')
df_hospital = pd.read_csv('data/DaysInHospital_Y2.csv')
df_drug = pd.read_csv('data/DrugCount.csv')
df_lab = pd.read_csv('data/LabCount.csv')

In [19]:
df_claims.dtypes

MemberID                   int64
ProviderID               float64
Vendor                   float64
PCP                      float64
Year                      object
Specialty                 object
PlaceSvc                  object
PayDelay                   int32
LengthOfStay              object
DSFS                       int32
PrimaryConditionGroup     object
CharlsonIndex              int32
ProcedureGroup            object
SupLOS                     int64
dtype: object

In [14]:
df_claims

,MemberID,ProviderID,Vendor,PCP,Year,Specialty,PlaceSvc,PayDelay,LengthOfStay,DSFS,PrimaryConditionGroup,CharlsonIndex,ProcedureGroup,SupLOS
0,42286978,8013252.0,172193.0,37796.0,Y1,Surgery,Office,28,NaN,8- 9 months,NEUMENT,0,MED,0
1,97903248,3316066.0,726296.0,5300.0,Y3,Internal,Office,50,NaN,7- 8 months,NEUMENT,1-2,EM,0
2,2759427,2997752.0,140343.0,91972.0,Y3,Internal,Office,14,NaN,0- 1 month,METAB3,0,EM,0
3,73570559,7053364.0,240043.0,70119.0,Y3,Laboratory,Independent Lab,24,NaN,5- 6 months,METAB3,1-2,SCS,0
4,11837054,7557061.0,496247.0,68968.0,Y2,Surgery,Outpatient Hospital,27,NaN,4- 5 months,FXDISLC,1-2,EM,0
5,45844561,1963488.0,4042.0,55823.0,Y3,Pediatrics,Office,25,NaN,3- 4 months,NEUMENT,0,EM,0
6,99829076,6721023.0,265273.0,91972.0,Y1,Rehabilitation,Office,162+,NaN,0- 1 month,TRAUMA,0,MED,0
7,54666321,9932074.0,35565.0,27294.0,Y1,Diagnostic Imaging,Office,29,NaN,0- 1 month,RESPR4,0,RAD,0
8,60497718,363858.0,293107.0,64913.0,Y2,Rehabilitation,Office,42,NaN,1- 2 months,INFEC4,0,EM,0
9,72200595,6251259.0,791272.0,49465.0,Y3,Internal,Office,56,NaN,7- 8 months,MISCHRT,1-2,SCS,0
10,12333431,605446.0,120581.0,20893.0,Y3,Anesthesiology,Outpatient Hospital,37,NaN,NaN,ARTHSPIN,1-2,ANES,0
11,66951188,4699470.0,179509.0,75876.0,Y1,Diagnostic Imaging,Inpatient Hospital,51,NaN,0- 1 month,ROAMI,0,RAD,0
12,78859054,9121540.0,523791.0,21579.0,Y1,Emergency,Urgent Care,22,1 day,6- 7 months,HEART2,0,SDS,0
13,32643389,7161676.0,868419.0,782.0,Y3,Surgery,Office,21,NaN,4- 5 months,MSC2a3,1-2,EM,0
14,26477481,8362269.0,682053.0,20090.0,Y1,Emergency,Urgent Care,143,NaN,0- 1 month,ROAMI,1-2,EM,0
15,83695244,5244762.0,791272.0,32724.0,Y1,Internal,Office,162+,NaN,0- 1 month,MISCHRT,0,EM,0
16,63063005,2864249.0,167772.0,35832.0,Y1,Diagnostic Imaging,Urgent Care,62,NaN,10-11 months,PNEUM,1-2,RAD,0
17,46891756,5094820.0,539281.0,77134.0,Y2,General Practice,Office,21,NaN,8- 9 months,MISCL5,0,EM,0
18,34087464,7990212.0,NaN,91972.0,Y1,General Practice,Urgent Care,46,NaN,4- 5 months,GIOBSENT,1-2,SCS,0
19,31394988,5655214.0,521876.0,85074.0,Y2,General Practice,Office,31,NaN,0- 1 month,RESPR4,1-2,EM,0
20,777964,2540806.0,62417.0,76334.0,Y3,Internal,Office,34,NaN,0- 1 month,MISCL5,0,EM,0
21,33385188,7053364.0,240043.0,68968.0,Y1,Laboratory,Independent Lab,24,NaN,6- 7 months,HEART2,1-2,PL,0
22,86882871,7418170.0,943792.0,20090.0,Y1,Diagnostic Imaging,Outpatient Hospital,162+,NaN,0- 1 month,ARTHSPIN,1-2,RAD,0
23,76920475,7053364.0,240043.0,77779.0,Y3,Laboratory,Independent Lab,16,NaN,0- 1 month,METAB3,1-2,PL,0
24,831279,7053364.0,240043.0,38762.0,Y3,Laboratory,Independent Lab,23,NaN,7- 8 months,RENAL3,1-2,PL,0
25,69389881,5193362.0,576600.0,62284.0,Y2,Emergency,Office,31,NaN,3- 4 months,TRAUMA,0,RAD,0
26,41932830,7053364.0,240043.0,88661.0,Y1,Laboratory,Independent Lab,162+,NaN,0- 1 month,METAB3,0,PL,0
27,72140833,661224.0,391178.0,72351.0,Y3,Internal,Office,42,NaN,6- 7 months,GYNEC1,0,EM,0
28,59324278,6330610.0,154478.0,44981.0,Y3,Internal,Urgent Care,48,1 day,0- 1 month,AMI,1-2,SDS,0
29,276553,7053364.0,240043.0,58880.0,Y2,Laboratory,Independent Lab,29,NaN,0- 1 month,MSC2a3,1-2,SCS,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2668960,34169043,9484587.0,140343.0,16757.0,Y2,Internal,Office,57,NaN,0- 1 month,INFEC4,0,EM,0
2668961,46449277,822173.0,917318.0,27406.0,Y3,Internal,Office,20,NaN,1- 2 months,SKNAUT,0,EM,0
2668962,28050826,2352545.0,122401.0,21579.0,Y2,Internal,Office,22,NaN,6- 7 months,METAB3,1-2,EM,0
2668963,98711556,321261.0,152610.0,27406.0,Y3,Laboratory,Independent Lab,16,NaN,7- 8 months,METAB3,1-2,PL,0
2668964,76256432,1781732.0,791272.0,32724.0,Y3,General Practice,Office,83,NaN,1- 2 months,METAB3,1-2,EM,0
2668965,5036761,4015462.0,35565.0,68968.0,Y1,Diagnostic Imaging,Office,37,NaN,0- 1 month,ARTHSPIN,0,RAD,0
2668966,47650911,9845664.0,201583.0,5300.0,Y3,Other,Office,28,NaN,3- 4 months,CANCRB,1-2,PL,0
2668967,66218307,6164824.0,791272.0,47987.0,Y2,Internal,Office,150,NaN,5- 6 months,SKNAUT,0,MED,0
2668968,61591170,7262437.0,316163.0,57744.0,Y3,Internal,Office,36,NaN,1- 2 months,RENAL2,1-2,EM,0
2668969,19392751,3161700.0,629052.0,68968.0,Y3,Internal,Outpatient Hospital,20,NaN,3- 4 months,MSC2a3,0,EM,0
2668970,14098507,7512468.0,122401.0,18880.0,Y2,Surgery,Office,31,NaN,NaN,SKNAUT,0,EM,0
2668971,99077919,7053364.0,240043.0,73982.0,Y2,Laboratory,Independent Lab,30,NaN,1- 2 months,METAB3,1-2,PL,0
2668972,98535515,7638907.0,559727.0,83829.0,Y1,Emergency,Urgent Care,44,NaN,7- 8 months,TRAUMA,0,EM,0
2668973,68249807,4686641.0,64835.0,21146.0,Y2,General Practice,Office,34,NaN,2- 3 months,NEUMENT,1-2,EM,0
2668974,90256460,6331312.0,122401.0,63771.0,Y2,Internal,Office,16,NaN,4- 5 months,METAB3,1-2,PL,0
2668975,1344508,4107701.0,164823.0,78718.0,Y1,Laboratory,Independent Lab,17,NaN,NaN,CATAST,0,SCS,0
2668976,54014690,9425226.0,197154.0,66621.0,Y2,Internal,Office,19,NaN,2- 3 months,MSC2a3,0,EM,0
2668977,73820095,1256697.0,789572.0,821.0,Y1,Surgery,Office,35,NaN,5- 6 months,MSC2a3,1-2,MED,0
2668978,22476463,7053364.0,240043.0,70171.0,Y1,Laboratory,Independent Lab,38,NaN,0- 1 month,MSC2a3,0,PL,0
2668979,45961553,8852263.0,489544.0,49321.0,Y2,Pediatrics,Office,37,NaN,0- 1 month,MSC2a3,0,EM,0
2668980,27364767,3394625.0,112451.0,39946.0,Y3,Internal,Outpatient Hospital,42,NaN,0- 1 month,MSC2a3,0,SDS,0
2668981,49953033,186482.0,140343.0,75221.0,Y2,Emergency,Urgent Care,54,NaN,5- 6 months,INFEC4,0,EM,0
2668982,95316156,794638.0,122401.0,46162.0,Y3,Internal,Office,22,NaN,2- 3 months,INFEC4,0,EM,0
2668983,72214864,3941897.0,865272.0,25513.0,Y2,General Practice,Office,30,NaN,1- 2 months,RESPR4,1-2,EM,0
2668984,83759594,7674964.0,62417.0,90249.0,Y2,Internal,Outpatient Hospital,52,NaN,11-12 months,MSC2a3,1-2,SDS,0
2668985,14932948,6641119.0,693028.0,22193.0,Y2,Obstetrics and Gynecology,Inpatient Hospital,58,NaN,0- 1 month,GYNEC1,0,EM,0
2668986,31248189,6932712.0,223304.0,70748.0,Y3,Internal,Inpatient Hospital,23,NaN,0- 1 month,GIBLEED,1-2,EM,0
2668987,43767339,1483429.0,35565.0,5278.0,Y3,Diagnostic Imaging,Office,122,NaN,4- 5 months,ODaBNCA,0,SIS,0
2668988,96393713,7094351.0,347045.0,93075.0,Y3,Internal,Office,151,NaN,1- 2 months,METAB3,1-2,EM,0
2668989,57805129,3884005.0,523319.0,90756.0,Y1,Internal,Office,15,NaN,4- 5 months,SKNAUT,1-2,EM,0

In [15]:
def count_nulls(df):
    null_counter = df.isnull().sum(axis=0)
    null_counter = null_counter[null_counter > 0]
    null_percent = df.isnull().sum(axis=0) / df.shape[0] * 100
    null_percent = null_percent[null_percent > 0]
    null_df = pd.concat([null_counter,null_percent],axis=1)
    null_df.columns = ['count','percent']
    display(null_df)
    
count_nulls(df_claims)

                         count    percent
ProviderID               16264   0.609369
Vendor                   24856   0.931289
PCP                       7492   0.280705
Specialty                 8405   0.314913
PlaceSvc                  7632   0.285951
LengthOfStay           2597392  97.317412
DSFS                     52770   1.977152
PrimaryConditionGroup    11410   0.427503
ProcedureGroup            3675   0.137693

In [16]:
def updatePayDelay():
    df_claims.loc[df_claims['PayDelay']=='162+','PayDelay'] = 162
    df_claims['PayDelay'] = df_claims['PayDelay'].astype(int)
    return

updatePayDelay()

In [17]:
def updateDSFS():
    df_claims.loc[df_claims['DSFS']=='0- 1 month','DSFS'] = 1
    df_claims.loc[df_claims['DSFS']=='1- 2 months','DSFS'] = 2
    df_claims.loc[df_claims['DSFS']=='2- 3 months','DSFS'] = 3
    df_claims.loc[df_claims['DSFS']=='3- 4 months','DSFS'] = 4
    df_claims.loc[df_claims['DSFS']=='4- 5 months','DSFS'] = 5
    df_claims.loc[df_claims['DSFS']=='5- 6 months','DSFS'] = 6
    df_claims.loc[df_claims['DSFS']=='6- 7 months','DSFS'] = 7
    df_claims.loc[df_claims['DSFS']=='7- 8 months','DSFS'] = 8
    df_claims.loc[df_claims['DSFS']=='8- 9 months','DSFS'] = 9
    df_claims.loc[df_claims['DSFS']=='9-10 months','DSFS'] = 10
    df_claims.loc[df_claims['DSFS']=='10-11 months','DSFS'] = 11
    df_claims.loc[df_claims['DSFS']=='11-12 months','DSFS'] = 12
    df_claims['DSFS'].fillna(0, inplace=True)
    df_claims['DSFS'] = df_claims['DSFS'].astype(int)
    return

updateDSFS()

In [18]:
def updateCharlsonIndex():
    df_claims.loc[df_claims['CharlsonIndex']=='0','CharlsonIndex'] = 0
    df_claims.loc[df_claims['CharlsonIndex']=='1-2','CharlsonIndex'] = 2
    df_claims.loc[df_claims['CharlsonIndex']=='3-4','CharlsonIndex'] = 4
    df_claims.loc[df_claims['CharlsonIndex']=='5+','CharlsonIndex'] = 6

    df_claims['CharlsonIndex'] = df_claims['CharlsonIndex'].astype(int)
    return
    
updateCharlsonIndex()

In [20]:
def updateLengthOfStay():
    df_claims.loc[df_claims['LengthOfStay']=='1 day','LengthOfStay'] = 1
    df_claims.loc[df_claims['LengthOfStay']=='2 days','LengthOfStay'] = 2
    df_claims.loc[df_claims['LengthOfStay']=='3 days','LengthOfStay'] = 3
    df_claims.loc[df_claims['LengthOfStay']=='4 days','LengthOfStay'] = 4
    df_claims.loc[df_claims['LengthOfStay']=='5 days','LengthOfStay'] = 5
    df_claims.loc[df_claims['LengthOfStay']=='6 days','LengthOfStay'] = 6
    df_claims.loc[df_claims['LengthOfStay']=='1- 2 weeks','LengthOfStay'] = 11
    df_claims.loc[df_claims['LengthOfStay']=='2- 4 weeks','LengthOfStay'] = 21
    df_claims.loc[df_claims['LengthOfStay']=='4- 8 weeks','LengthOfStay'] = 42
    df_claims.loc[df_claims['LengthOfStay']=='26+ weeks','LengthOfStay'] = 180
    
    df_claims['LengthOfStay'].fillna(0, inplace=True)

    df_claims['LengthOfStay'] = df_claims['LengthOfStay'].astype(int)
    return

updateLengthOfStay()

In [28]:
df_claims.groupby(['Year','MemberID']).agg(['count'])
#     'ProviderID': 'nunique',
#     'Vendor': 'nunique',
#     'PCP': 'nunique',
#     'PlaceSvc': 'nunique',
#     'Specialty': 'nunique',
#     'PrimaryConditionGroup': 'nunique',
#     'ProcedureGroup': 'nunique',
    
#     'PayDelay'

# })

              ProviderID Vendor   PCP Specialty PlaceSvc PayDelay  \
                   count  count count     count    count    count
Year MemberID
Y1   210               8      8     8         8        8        8
     3197              5      5     5         5        5        5
     3889             13     13    13        13       13       13
     4187              4      4     4         4        4        4
     9063              4      4     4         4        4        4
     11951             6      6     6         6        6        6
     14661             2      2     2         2        2        2
     14701             3      3     3         3        3        3
     14778             6      6     6         6        6        6
     14855             1      1     1         1        1        1
     17249             4      4     4         4        4        4
     18190             8      8     8         8        8        8
     18333            10     10    10        10       10       10
     18514             4      4     4         4        4        4
     20072            14     14    15        15       14       15
     20269             7      7     7         7        7        7
     20482            36     36    36        36       36       36
     21207            30     30    30        30       30       30
     23328             7      7     7         7        7        7
     26116             1      1     1         1        1        1
     27686             3      3     3         3        3        3
     28243             6      6     6         6        6        6
     32491            34     34    34        34       34       34
     33120             9      9     9         9        9        9
     33803             6      6     6         6        6        6
     34208             3      3     3         3        3        3
     34791            10     10    10        10       10       10
     36908             4      4     4         4        4        4
     39767             1      1     1         1        1        1
     42216            21     21    21        22       21       22
...                  ...    ...   ...       ...      ...      ...
Y3   99959542          5      5     5         5        5        5
     99960336          2      2     2         2        2        2
     99960506         13     13    13        13       13       13
     99962675         11     11    11        11       11       11
     99963157          5      5     5         5        5        5
     99963292         14     14    14        14       14       14
     99963745         15     15    15        15       15       15
     99965651          6      6     6         6        6        6
     99966197         13     13    13        13       13       13
     99967447         26     26    26        26       26       26
     99967658         14     14    14        14       14       14
     99968870         15     15    15        15       15       15
     99969451         11     11    11        11       11       11
     99971678          8      8     8         8        8        8
     99973127         11     11    11        11       11       11
     99973285          2      2     2         2        2        2
     99973335          2      2     2         2        2        2
     99974933          5      5     5         5        5        5
     99975677          4      4     4         4        4        4
     99976647          3      3     3         3        3        3
     99977491         14     14    14        14       14       14
     99979429          2      2     2         2        2        2
     99982956          2      2     2         2        2        2
     99985795          2      2     2         2        2        2
     99985996         17     17    18        18       18       18
     99987030          8      8     8         8        8        8
     99992565         25     25    25        25       25       25
     99993334          2      2     2         2        2        2
     99995391         34     34    34        34       34       34
     99997485          2      2     2         2        2        2

              LengthOfStay  DSFS PrimaryConditionGroup CharlsonIndex  \
                     count count                 count         count
Year MemberID
Y1   210                 8     8                     8             8
     3197                5     5                     5             5
     3889               13    13                    13            13
     4187                4     4                     4             4
     9063                4     4                     4             4
     11951               6     6                     6             6
     14661               2     2                     2             2
     14701               3     3                     3             3
     14778               6     6                     6             6
     14855               1     1                     1             1
     17249               4     4                     4             4
     18190               8     8                     8             8
     18333              10    10                    10            10
     18514               4     4                     4             4
     20072              15    15                    15            15
     20269               7     7                     7             7
     20482              36    36                    36            36
     21207              30    30                    30            30
     23328               7     7                     7             7
     26116               1     1                     1             1
     27686               3     3                     3             3
     28243               6     6                     6             6
     32491              34    34                    34            34
     33120               9     9                     9             9
     33803               6     6                     6             6
     34208               3     3                     3             3
     34791              10    10                    10            10
     36908               4     4                     4             4
     39767               1     1                     1             1
     42216              22    22                    22            22
...                    ...   ...                   ...           ...
Y3   99959542            5     5                     5             5
     99960336            2     2                     2             2
     99960506           13    13                    13            13
     99962675           11    11                    11            11
     99963157            5     5                     5             5
     99963292           14    14                    14            14
     99963745           15    15                    15            15
     99965651            6     6                     6             6
     99966197           13    13                    13            13
     99967447           26    26                    26            26
     99967658           14    14                    14            14
     99968870           15    15                    15            15
     99969451           11    11                    11            11
     99971678            8     8                     8             8
     99973127           11    11                    11            11
     99973285            2     2                     2             2
     99973335            2     2                     2             2
     99974933            5     5                     5             5
     99975677            4     4                     4             4
     99976647            3     3                     3             3
     99977491           14    14                    14            14
     99979429            2     2                     2             2
     99982956            2     2                     2             2
     99985795            2     2                     2             2
     99985996           18    18                    18            18
     99987030            8     8                     8             8
     99992565           25    25                    25            25
     99993334            2     2                     2             2
     99995391           34    34                    34            34
     99997485            2     2                     2             2

              ProcedureGroup SupLOS
                       count  count
Year MemberID
Y1   210                   8      8
     3197                  5      5
     3889                 13     13
     4187                  4      4
     9063                  4      4
     11951                 6      6
     14661                 2      2
     14701                 3      3
     14778                 6      6
     14855                 1      1
     17249                 4      4
     18190                 8      8
     18333                10     10
     18514                 4      4
     20072                15     15
     20269                 7      7
     20482                36     36
     21207                30     30
     23328                 7      7
     26116                 1      1
     27686                 3      3
     28243                 6      6
     32491                34     34
     33120                 9      9
     33803                 6      6
     34208                 3      3
     34791                10     10
     36908                 4      4
     39767                 1      1
     42216                22     22
...                      ...    ...
Y3   99959542              5      5
     99960336              2      2
     99960506             13     13
     99962675             11     11
     99963157              5      5
     99963292             14     14
     99963745             15     15
     99965651              6      6
     99966197             13     13
     99967447             26     26
     99967658             14     14
     99968870             15     15
     99969451             11     11
     99971678              8      8
     99973127             11     11
     99973285              2      2
     99973335              2      2
     99974933              5      5
     99975677              4      4
     99976647              3      3
     99977491             14     14
     99979429              2      2
     99982956              2      2
     99985795              2      2
     99985996             18     18
     99987030              8      8
     99992565             25     25
     99993334              2      2
     99995391             34     34
     99997485              2      2

[218415 rows x 12 columns]

In [ ]:
df_claims.describe()