In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
from sklearn.model_selection import train_test_split
from sklearn import linear_model
import pandas as pd
import math

In [24]:
data = pd.read_csv('../1.data-preparation/new-data/data_Y1.csv')
data.describe()

,MemberID,LabCount_total,LabCount_months,DrugCount_total,DrugCount_months,no_Claims,no_Providers,no_Vendors,no_PCPs,no_PlaceSvcs,...,age_55,age_65,age_75,age_85,age_MISS,SexMALE,sexFEMALE,sexMISS,ClaimsTruncated,TARGET
count,7.603800e+04,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000,...,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000,76038.000000
mean,4.994761e+07,6.148886,1.580289,10.118296,3.703661,11.320221,4.404127,3.705805,1.022344,2.145335,...,0.112365,0.116152,0.161130,0.085484,0.059733,0.367803,0.449025,0.183172,0.052224,0.467095
std,2.890145e+07,7.233436,1.814161,15.353455,4.089925,10.480493,3.341382,2.615952,0.150621,1.021198,...,0.315817,0.320410,0.367653,0.279602,0.236994,0.482211,0.497398,0.386810,0.222480,1.612194
min,2.100000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.483719e+07,0.000000,0.000000,0.000000,0.000000,3.000000,2.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.990721e+07,4.000000,1.000000,3.000000,2.000000,8.000000,3.000000,3.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.510112e+07,10.000000,2.000000,14.000000,7.000000,16.000000,6.000000,5.000000,1.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,9.999863e+07,89.000000,12.000000,84.000000,12.000000,43.000000,27.000000,19.000000,3.000000,8.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000

In [25]:
data.drop("MemberID", axis = 1, inplace = True)
data.drop("Year", axis = 1, inplace = True)

y = data['TARGET']
X = data.loc[:, data.columns != 'TARGET']
X.head()

,LabCount_total,LabCount_months,DrugCount_total,DrugCount_months,no_Claims,no_Providers,no_Vendors,no_PCPs,no_PlaceSvcs,no_Specialities,...,age_45,age_55,age_65,age_75,age_85,age_MISS,SexMALE,sexFEMALE,sexMISS,ClaimsTruncated
0,2.0,1.0,5.0,3.0,8,4,4,2,3,3,...,0,0,0,0,0,0,0,0,1,0
1,10.0,1.0,30.0,10.0,13,7,7,1,3,4,...,0,0,0,0,0,1,0,1,0,0
2,3.0,1.0,0.0,0.0,6,3,3,1,2,3,...,0,0,0,0,0,0,0,1,0,0
3,2.0,1.0,1.0,1.0,2,2,2,1,2,2,...,0,0,0,0,0,0,0,0,1,0
4,2.0,1.0,6.0,5.0,6,5,4,2,2,4,...,0,0,0,0,0,0,0,1,0,0

In [26]:
y.describe()

count    76038.000000
mean         0.467095
std          1.612194
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         15.000000
Name: TARGET, dtype: float64

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [28]:
def linear_regression(train_X, test_X, train_y, test_y):
    regr = linear_model.LinearRegression()
    regr.fit(train_X, train_y)
    print ('Coefficients: \n', regr.coef_)
    pred_y = regr.predict(test_X) # your predicted y values
    # The root mean square logarithmic error
    msle = np.mean( (np.log(pred_y + 1) - np.log(test_y + 1)) ** 2)
    rmsle = math.sqrt(msle)
    print ("RMSlE: %.2f" % rmsle)
    from sklearn.metrics import r2_score
    r2 = r2_score(pred_y, test_y)
    print ("R2 value: %.2f" % r2)

In [29]:
linear_regression(X_train, X_test, y_train, y_test)

Coefficients:
 [ 1.02517408e-02 -3.20787772e-02  1.31713486e-02 -3.47555976e-02
 -6.28962906e-04  2.45082451e-02  6.46722423e-02 -1.32302802e-02
  5.45348171e-02 -8.29298342e-02  2.12411896e-02 -5.48466171e-02
 -5.69478322e-06  1.86515430e-04  4.19822764e-04 -1.57294098e-03
  2.23304330e-03  1.81045525e-03  6.07368899e-03  2.41709590e-03
 -3.56143200e-04 -1.74390591e-03  3.23123506e-03  1.16132585e-03
  2.64559797e-03  1.77882476e-03  2.87926204e-04 -2.44038042e-03
  1.01960742e-02  1.12704238e-03  2.43991327e-03  8.10014529e-03
  4.00170403e-03  1.82778243e-04  4.63448961e-03  5.58486188e-04
 -1.30705257e-03 -5.61046153e-03 -5.21071503e-03 -8.26160642e-04
  7.32736914e-03  1.45269722e-02 -6.09098547e-03 -3.30752750e-03
  4.25411162e-03  2.13356251e-02  1.17102726e-02 -9.24690718e-03
  2.60289825e-03 -1.30126725e-02 -1.91245635e-02 -1.05093185e-02
  2.20028917e-02  3.13768904e-02  9.27708207e-03  1.37111007e-03
  1.63824729e-02 -2.86129776e-02  1.59456492e-02 -9.56634807e-03
 -5.91458752e-02  2.78078689e-03  6.26024146e-03  2.12580978e-03
  2.81935419e-03  6.49571209e-03 -5.01234031e-03  5.68731631e-03
  3.35553214e-03 -1.92335262e-04 -1.71560153e-03 -5.86656646e-03
  4.94036138e-03  1.16299651e-02 -4.56143354e-03 -5.01580639e-03
 -2.65129153e-03 -4.87748565e-03 -1.11258192e-02 -3.63429010e-03
 -5.01238850e-03 -5.62356958e-04 -1.04704570e-02 -5.92409808e-03
 -2.82598690e-02 -1.95018452e-02  1.02158386e-02 -3.45859229e-02
 -1.79483472e-02 -1.82107887e-02  2.10483202e-02  1.74386277e-01
  9.89974606e-04 -1.56986999e-03  3.62248230e-03  4.19066748e-03
  1.99875206e-03  4.48267551e-03 -5.60891701e-03  3.49502600e-03
  2.17074449e-02 -1.69811028e-01 -2.10268761e-01  3.25560786e-02
 -7.83291525e-02 -1.91283753e-01 -1.67704126e-01 -5.83230275e-02
  1.42638158e-01  3.94920154e-01  3.05605459e-01 -1.33909596e-01
 -1.04321765e-01  2.38231361e-01  6.69040132e-01]
RMSlE: 0.51
R2 value: -10.81